#currencyContainer {
	border: 2px solid #9e9e9e;
	width: 457px;
	height: 170px;
	margin: 5px;
	margin-left:10px;
	display: inline-block;
}

.currencyHeader {
	background: #363433;
	color: #fff;
	width: 100%;
	height: 35px;
	font-size: 30px;
	padding-top: 4px;
	text-align: center;
}

.currencyBody {
	background: #f0f0f0;
}

.leftCompare {
	float: left;
	margin-top: 8px;
	margin-left: 19px;
	width: 40%;
	height: 70px;
	border: 3px solid #9e9e9e;
}

.centerArrow {
	float: left;
	width: 9%;
	height: 78px;
	padding-top: 20px;
}

.rightCompare {
	float: left;
	margin-top: 8px;
	margin-right: 19px;
	width: 40%;
	height: 70px;
	border: 3px solid #9e9e9e;
}
.redArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4.5px 28px 4.5px;
	border-color: transparent transparent #f40801 transparent;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.greenArrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 28px 4.5px 0 4.5px;
	border-color: #027c03 transparent transparent transparent;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.buyHeader {
	color: #c6101b;
	font-size: 12px;
	text-align: left;
	margin-top: 6px;
	margin-left: 6px;
}

.sellHeader {
	color: #6f892c;
	font-size: 12px;
	text-align: right;
	margin-top: 6px;
	margin-right: 6px;
}

.buyValue {
	text-align: left;
	margin-top: 10px;
	font-size: 40px;
	color: #c6101b;
	margin-left: 6px;
	width: auto;
	overflow: hidden;
}

.sellValue {
	text-align: right;
	margin-top: 10px;
	font-size: 40px;
	color: #6f892c;
	margin-right: 6px;
	width: auto;
	overflow: hidden;
}